* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* Navbar  */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;

}

nav .logo { 
    font-size: 1.5rem;
    color: #000;   
    margin-right: 10rem;
    font-weight: bold;
    font-style: italic;
    
}


nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    
}   

nav ul li a:hover {
    background-color: #000;
    color: white;
    border-radius: 0.250em;
}

nav ul li a.active {
    font-weight: bold;
    color: #f9f9f9;
    background-color: #000;
    border-radius: 0.250em;

}

/* Work Overview Grid */
.work-overview {
    margin: 5rem;
    padding: 4rem 2rem;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 1em;
}

.work-overview h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project {
    text-align: center;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    min-height: 200px;
    cursor: pointer;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.project h2 {
    margin-top: 1rem;
    font-size: 1.2rem;
}


/* Overlay Styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.overlay-content img {
    max-width: 100%;
    border-radius: 10px;
}

.overlay-content h2 {
    margin: 1rem 0;
}

.overlay-content p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    background-color: #000;
    color: #f9f9f9;
    position: fixed;
    font-size: 1rem;
    bottom: 0;
}
